<!-- <div class="container" *ngIf="imageInput">
    <img class="galleryImg" [src]="loadedImage" />
    <div class="break"></div>
    <div>{{imageInput.made}}</div>

    <div class="break"></div>

    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>Felhasználónév</th>
                <th>Komment</th>
                <th>Idő</th>
            </tr>
            <tr *ngFor="let comment of comments; let i = index;"
                [ngClass]="i % 2 === 0 ? 'table-header-even': 'table-header-odd'">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
    </div>

    <div class="break"></div>
    <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <div>
            <label for="username">Felhasználonév: </label>
            
            <input type="text" formControlName="commentObject['username']" />
        </div>
        <div class="break"></div>
        <div>
           
            <textarea rows="10" cols="50" formControlName="commentObject['comment']"></textarea>
        </div>
        <div class="break"></div>
        <div>
            
                <button type = "submit">Hozzáadás</button>
               
        </div>
    </form>

</div> -->


<div class="div-card" *ngIf="imageInput">
    <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
            <mat-card-header>
                <mat-card-title>{{imageInput.id}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <img class="galleryImg" [src]="loadedImage" />
                <div class="break"></div>
                <div>{{imageInput.made}}</div>
            </mat-card-content>
        </span>
        <span fxFlex="1 1 50%">
            <mat-card-actions>
                <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
                    <div>
                        <mat-form-field>
                            <mat-label for="username">Felhasználonév: </mat-label>
                            <input type="text" formControlName="commentObject['username']" />
                        </mat-form-field>
                    </div>
                    <div class="break"></div>   
                    <div>
                        <mat-form-field>
                            <mat-label for="comment">Komment: </mat-label>
                            <textarea rows="10" cols="50" formControlName="commentObject['comment']"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="break"></div>
                    <div>
                        <button mat-raised-button color="primary" type="submit">Hozzáadás</button>
                    </div>
                </form>
            </mat-card-actions>
        </span>
    </mat-card>

    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>Felhasználónév</th>
                <th>Komment</th>
                <th>Idő</th>
            </tr>
            <tr *ngFor="let comment of comments; let i = index;"
                [ngClass]="i % 2 === 0 ? 'table-header-even': 'table-header-odd'">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
    </div>

    <div class="break"></div>


</div>