.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryImg{
    width: 25%;
    height: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.imageList{
    padding: 5px;
}
